<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor Drag Drop</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Base Implementation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="twozones">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Two Zones
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="maxitems">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Max Items
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="accepts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Accepts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="displaygrid">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grid
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="flex">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Flex
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AllowsDrag">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Allows Drag
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="NoGap">
                <span class="oi oi-list-rich" aria-hidden="true"></span> No Gap
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
