@page "/displaygrid"
@using Plk.Blazor.DragDrop.DropActions

<div class="bg-success">You can use grid display</div>

<hr />

<div class="grid-container">
    <Dropzone Items="Items">
        <DropActions>
            <MoveDropAction TItem="string" />
        </DropActions>
        <ChildContent>
            <div>
                <div class="grid-item">@context</div>
            </div>
        </ChildContent>
    </Dropzone>
</div>

@code {
    public List<string> Items = new List<string>()
{
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
    };
}
