@page "/displaygrid"

<div class="bg-success">You can use grid display</div>

<hr />

<div class="grid-container">
    <Dropzone Items="Items">
        <div>
            <div class="grid-item">@context</div>
        </div>
    </Dropzone>
</div>

@code {
    public List<string> Items = new List<string>()
{
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
    };
}
