@page "/flex"
@using Plk.Blazor.DragDrop.DropActions

<div class="bg-success">You can use flex display</div>

<hr />

<div class="plk-flex">
    <Dropzone Class="flex-container" Items="Items" ItemWrapperClass="@(item => "flex-item")">
        <DropActions>
            <MoveDropAction TItem="string" />
        </DropActions>
        <ChildContent>
            <div>@context</div>
        </ChildContent>
    </Dropzone>

</div>


@code {
    public List<string> Items = new List<string>()
    {
        "1", "2", "3", "4", "5", "6"
    };
}
