@page "/"
@using Plk.Blazor.DragDrop.Demo.Components
@using Plk.Blazor.DragDrop.Demo.Data
@using Plk.Blazor.DragDrop.DropActions

<div id="main" class="container-fluid">

    <input placeholder="Something todo" @bind="newTodo" />
    <button @onclick="AddTodo" class="btn btn-success">Add</button>

    <hr />

    <Dropzone Items="MyToDoList">
        <DropActions>
            <MoveDropAction TItem="TodoItem" />
        </DropActions>
        <ChildContent>
            <Todo OnRemoveClick="(item)=>MyToDoList.Remove(item)" Item="@context"></Todo>
        </ChildContent>
    </Dropzone>

</div>

@code{

    private string newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            MyToDoList.Add(new TodoItem { Titel = newTodo });
            newTodo = string.Empty;
        }
    }



    public List<TodoItem> MyToDoList = new List<TodoItem>()
    {
            new TodoItem(){Titel = "Drag this item"},
            new TodoItem(){Titel = "Add another item"},
            new TodoItem(){Titel = "Remove this item"},
            new TodoItem(){Titel = "Style this list"},
            new TodoItem(){Titel = "Fix a bug"},
            new TodoItem(){Titel = "Build a feature"},
            new TodoItem(){Titel = "Create a PR"},
    };

}
