@page "/components"
@using Blazor.DragDrop.Core;

    <Dropzone>

        <div class="m-1">
            <Draggable>
                <Counter></Counter>
            </Draggable>
        </div>

        <div class="m-1">
            <Draggable>
                <Counter></Counter>
            </Draggable>
        </div>

    </Dropzone>


