@page "/counter"

<h1>Counter</h1>
<h4 class="alert-heading">Drag me</h4>

<p>Current count: @currentCount</p>

<p>Component:@id</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {


    private Guid id;

    protected override void OnParametersSet()
    {
        id = Guid.NewGuid();
    }

    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }
}
