@page "/"
@using Blazor.DragDrop.Core
@using System.Dynamic;

<h1>Hello, welcome to the Blazor Easy Drog Drop Demo!</h1>

<hr />

<div class="container">

    <div class="row">
        <div class="col" style="min-width:200px;min-height:200px;background-color: #ff8c00">
            <h4>Arrange them here</h4>
            <Dropzone>
                <div class="cards-list">
                    <Draggable>
                        <div class="card 1">
                            <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
                            <div class="card_title title-white">
                                <p>Blazor Rocks</p>
                            </div>
                        </div>
                    </Draggable>


                    <Draggable>
                        <div class="card 2">
                            <div class="card_image">
                                <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
                            </div>
                            <div class="card_title title-white">
                                <p>Drag and Drop</p>
                            </div>
                        </div>
                    </Draggable>

                    <Draggable>
                        <div class="card 3">
                            <div class="card_image">
                                <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
                            </div>
                            <div class="card_title">
                                <p>Have fun!</p>
                            </div>
                        </div>
                    </Draggable>

                    <Draggable>
                        <div class="card 4">
                            <div class="card_image">
                                <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
                            </div>
                            <div class="card_title title-black">
                                <p>Postlagerkarte</p>
                            </div>
                        </div>
                    </Draggable>

                </div>

            </Dropzone>

        </div>

        <div class="col m-4 cards-list" style="min-width:200px;min-height:200px;background-color: lightblue">

            <h4>Drop them here</h4>
            <Dropzone>

            </Dropzone>

        </div>

    </div>

</div>
