@page "/"
@using Blazor.DragDrop.Core
@using System.Dynamic;

<h1>Hello, welcome to the Blazor Easy Drog Drop Demo!</h1>

<hr />

<div class="container">

    Not Working
    <div class="row">
        <div class="col" style="min-width:200px;min-height:200px;background-color: #ff8c00">
            <Dropzone>
                <Draggable>
                    <div class="border mt-2 m-2" background-color: style="background-color: #ffaf4d">
                        <div>Move me 1</div>
                    </div>
                </Draggable>
                <Draggable>
                    <div class="border mt-2 m-2" background-color: style="background-color: #ffaf4d">
                        <div>Move me 2</div>
                    </div>
                </Draggable>
                <Draggable>
                    <div class="border mt-2 m-2" background-color: style="background-color: #ffaf4d">
                        <div>Move me 3</div>
                    </div>
                </Draggable>
            </Dropzone>
        </div>

        Working
        <div class="col ml-4 badge-success" style="min-width:200px;min-height:200px">
            <Dropzone>
                <Draggable>
                    <div class="border mt-2 m-2" background-color: style="background-color: #ffaf4d">
                        Move me 1
                    </div>
                </Draggable>
                <Draggable>
                    <div class="border mt-2 m-2" background-color: style="background-color: #ffaf4d">
                        Move me 2
                    </div>
                </Draggable>
                <Draggable>
                    <div class="border mt-2 m-2" background-color: style="background-color: #ffaf4d">
                        Move me 3
                    </div>
                </Draggable>
            </Dropzone>
        </div>
    </div>

    <div class="row">


    </div>

</div>
