@page "/"
@using Blazor.DragDrop.Core
@using System.Dynamic;

<h1>Hello, welcome to the Blazor Easy Drog Drop Demo!</h1>

<hr />

<div class="container">

    <div class="row">
        <div class="col" style="min-width:200px;min-height:200px;background-color: #ff8c00">
            <Dropzone>
                <Draggable>
                    <div class="border mt-2 m-2" background-color: style="background-color: #ffaf4d">
                        <p>Move me 1</p>
                        <p>some info here , some info there</p>
                    </div>
                </Draggable>
                <Draggable>
                    <div class="border mt-2 m-2" background-color: style="background-color: #ffaf4d">
                        <p>Move me 2</p>
                        <p>some info here , some info there</p>
                    </div>
                </Draggable>
                <Draggable>
                    <div class="border mt-2 m-2" background-color: style="background-color: #ffaf4d">
                        <p>Move me 3</p>
                        <p>some info here , some info there</p>
                    </div>
                </Draggable>
                <Draggable>
                    <div class="border mt-2 m-2" background-color: style="background-color: #ffaf4d">
                        <p>Move me 4</p>
                        <p>some info here , some info there</p>
                    </div>
                </Draggable>
                <Draggable>
                    <div class="border mt-2 m-2" background-color: style="background-color: #ffaf4d">
                        <p>Move me 5</p>
                        <p>some info here , some info there</p>
                    </div>
                </Draggable>
                <Draggable Foo="new { Foo = 12 }">
                    <div class="border mt-2 m-2" background-color: style="background-color: #ffaf4d">
                        <p>Move me 6</p>
                        <p>some info here , some info there</p>
                    </div>
                </Draggable>

            </Dropzone>
        </div>

        <div class="col ml-4 badge-success" style="min-width:200px;min-height:200px">
            <Dropzone Accepts="(d) => d.Foo == 13">

            </Dropzone>
        </div>
    </div>



</div>