@page "/malefemale"
@using Blazor.DragDrop.Core;

    <div class="row">

        <div class="col">

            <div class="row m-4">

                <Dropzone>
                    <Draggable Tag='new { Gender = "Male", Age = 13 }'>
                        <h4 class="badge-success mt-4">Erik, Age 13</h4>
                    </Draggable>

                    <Draggable Tag='new { Gender = "Female" , Age = 22}'>
                        <h4 class="badge-success mt-4">Susanne, Age 22</h4>
                    </Draggable>

                    <Draggable Tag='new { Gender = "Male" , Age = 40}'>
                        <h4 class="badge-success mt-4">Lewis , Age 40</h4>
                    </Draggable>
                </Dropzone>



            </div>

        </div>

        <div class="col ml-4">
            For boys only
            <div class="row male mt-1">

                <Dropzone Accepts='(d) => d.Gender == "Male"'>

                </Dropzone>

            </div>

            For girls only
            <div class="row female mt-1">
                <Dropzone Accepts='(d) => d.Gender == "Female"'>

                </Dropzone>
            </div>

            For adults only
            <div class="row adults mt-1">
                <Dropzone Accepts=AcceptedOnDropzone>

                </Dropzone>
            </div>

            Max 2 Items
            <div class="row adults mt-1">
                <Dropzone>

                </Dropzone>
            </div>

        </div>


    </div>


@code {

    public Func<dynamic, bool> AcceptedOnDropzone = (d) =>
    {
        return d.Age > 21;
        
    };

}
