<div class="card 1">
    <div class="card_image"> <img src="@ImageUrl" /> </div>
    <div class="card_title title-white">
        <p>@Title</p>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string ImageUrl { get; set; }
}
