@using Plk.Blazor.DragDrop.Demo.Data 

<div class="m-2" style="border: 2px solid black;">
    <button  @onclick="@(()=> OnRemoveClick.InvokeAsync(Item))" class="btn btn-secondary m-1">
        <span class="oi oi-trash"></span>
    </button>
    <span class="ml-3 oi oi-sun"></span>
    @Item.Titel

</div>


@code {

    [Parameter]
    public TodoItem Item { get; set; }

    [Parameter]
    public EventCallback<TodoItem> OnRemoveClick { get; set; }

}
