@using Plk.Blazor.DragDrop.Demo.Data 

<div style="border: 2px solid @BorderColor;">
    <button  @onclick="@(()=> OnRemoveClick.InvokeAsync(Item))" class="btn btn-secondary m-1">
        <span class="oi oi-trash"></span>
    </button>
    <span class="ml-3 oi oi-sun"></span>
    @Item.Title

</div>


@code {

    [Parameter]
    public TodoItem Item { get; set; }

    [Parameter]
    public EventCallback<TodoItem> OnRemoveClick { get; set; }

    public string BorderColor { get {
            if (Item.IsNew) return "gold";
            return "black";
        } }

}
