@inject DragDropService DragDropService;
@using System.Diagnostics;


<div ondragover="event.preventDefault();" ondragenter="event.preventDefault();"   @ondrop="Ondrop" class="dropzone">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
    @{
        if (DragDropService.HasDraggablesForDropzone(_dropzoneId))
        {
            <p>render draggable(s) inside dropzone @_dropzoneId</p>

            foreach (var frag in DragDropService.GetDraggablesForDropzone(_dropzoneId))
            {
                <div draggable="true" @ondragstart="()=>OnDragStart(frag.Id)" @ondragover="OnDragOver" 
                     @ondragenter="()=>OnDragEnter(frag.Id)" 
                     @ondragend="() =>OnDragEnd(frag.Id)" 
                     class=@GetClasses(frag.Id)>
                    <p>@frag.Id</p>
                    @frag.RenderFragement
                </div>
            }
        }
    }

</div>



@code {

    private int _inTransitId;


    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private int _dropzoneId { get; set; }

    private string GetClasses(int draggableId)
    {
        if(_inTransitId == draggableId)
        {
            return $"draggable{draggableId} draggable-intransit";
        }

        return "draggable"+draggableId;
    }

    private void OnDragStart(int draggableId)
    {

        DragDropService.SupressRendering = true;

        DragDropService.SetActiveItem(_dropzoneId, draggableId);

        _inTransitId = draggableId;
    }

    private void OnDragEnd(int draggableId)
    {
        DragDropService.SupressRendering = false;

        _inTransitId = 0;
    }


    private void OnDragEnter(int draggableId)
    {
        //Debug.WriteLine($"OnDragEnter {draggableId}");

        //if same item return
        if (draggableId == DragDropService.ActiveItem.Id) return;


        // swap position
        DragDropService.Swap(draggableId);



        //var draggedOverDropzoneId = DragDropService.GetDropzoneForDraggableId(draggableId);

        //if(DragDropService.ActiveItem.DropzoneId != draggedOverDropzoneId)
        //{
        //    DragDropService.AssignNewDropzoneToActiveItem(draggedOverDropzoneId, draggableId);
        //}


    }

    protected override void OnInitialized()
    {
        _dropzoneId = DragDropService.GetDropzoneId();

        DragDropService.RegisterDropzone(_dropzoneId);

        DragDropService.StateHasChanged += async () =>
        {
            await InvokeAsync(() => StateHasChanged());
        };
    }

    private void Ondrop()
    {
        DragDropService.DropActiveItem(_dropzoneId, null);
    }

    private void OnDragOver()
    {

    }

    public void RegisterDraggable(DraggableItem dataItem)
    {
        dataItem.DropzoneId = _dropzoneId;

        DragDropService.RegisterDraggableForDropzone(dataItem);
    }

    protected override bool ShouldRender()
    {
        //Debug.WriteLine($"Should Render {!DragDropService.IsTransitInProgess}");
        return !DragDropService.SupressRendering;
    }

}
